@model Pet 
@{
    ViewData["Title"] = "Pet Register Page";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sol taraf: Resim -->
        <div class="col-md-5" style="margin-top:150px">
            <img src="~/images/hhh.jpg" alt="Resim" width="100%" height="100%" class="img-fluid">
        </div>
        <!-- Sağ taraf: Form -->
        <div class="col-md-6 align-items-center justify-content-center">
            <img src="~/images/eee.jpg" alt="Resim" class="img-fluid" style="margin-left:40px">

            <h3 class="text-center" style="margin-top:40px; margin-left:55px;">PET KAYIT</h3>
            <!-- Form Başlangıcı -->
            <form asp-action="PetProfil" method="post" enctype="multipart/form-data" class="needs-validation" style="margin-top: 20px; margin-left: 70px;">
                <div class="row g-2">
                    <div class="col-md">
                         <div class="form-floating">
                            <select asp-for="petTur" class="form-select" id="floatingSelectGrid" style="margin-top: 15px; margin-bottom: 15px;">
                                 <option selected>Seçiniz</option>
                                  <option value="1">Kedi</option>
                                  <option value="2">Köpek</option>
                                 <option value="3">Kuş</option>
                             </select>
                             <label for="floatingInputGrid">Pet Türü</label>
                         <span asp-validation-for="petTur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select asp-for="petCins" class="form-select" id="floatingSelectGrid" style="margin-top: 15px; margin-bottom: 15px;">
                                 <option selected>Seçiniz</option>
                                  <option value="1">One</option>
                                   <option value="2">Two</option>
                                   <option value="3">Three</option>
                             </select>
                             <label for="floatingSelectGrid">Pet Cinsi</label>
                            <span asp-validation-for="petCins" class="text-danger"></span>

                        </div>
                     </div>
                </div>
                <div class="row g-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="petAd" class="form-control" id="adInput" placeholder="Adınız" style="margin-bottom: 15px;">
                            <label for="adInput">Pet Adı</label>
                            <span asp-validation-for="petAd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="petYas" class="form-control" id="soyadInput" placeholder="Soyadınız">
                            <label for="soyadInput">Pet Yaşı</label>
                            <span asp-validation-for="petYas" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               <div class="form-floating">
                <textarea asp-for="petBilgi" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Burada evcil hayvanınızı tanıtabilirsiniz.</label>
               <span asp-validation-for="petBilgi" class="text-danger"></span>

               </div>
               <div class="card text-center" style="margin-top: 15px;">
                <div class="card-header">
                    Fotoğraf Yükle
                </div>
                 <div class="card-body">
                        <input asp-for="petFoto" type="file" id="photo" name="photo" accept="image/*" />
                  <span asp-validation-for="petFoto" class="text-danger"></span>
                </div>
                </div>
                <div class="text-center" style="margin-top: 20px; margin-left:55px; margin-bottom: 30px;">
                    <button type="submit" class="btn btn-primary" value="kaydet">Pet Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
    <!-- Başarı mesajı -->
            @if (ViewData["SuccessMessage"] != null) {
                <div class="alert alert-success" style="margin-bottom: 15px;">
                    @ViewData["SuccessMessage"]
            </div> }