@{
    ViewData["Title"] = "Profile";
}

<div class="card mb-3" style="max-width: 100%; margin-top: 25px;">
  <div class="row g-0" >
    <div class="col-md-4 ">
      <img src="~/images/cute.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8 ">
      <div class="card-body">
        <h5 class="card-title">İsim Soyisim</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptas maiores. Incidunt, sed voluptatem dignissimos reiciendis laboriosam expedita ullam nihil quasi tempore blanditiis! Sapiente, vel? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime veritatis nobis sint natus qui voluptatibus eos asperiores aut, sit unde?</p>
        <p class="card-text"><small class="text-body-secondary">Lorem ipsum dolor sit amet.</small></p>
        <button class="btn btn-primary">Profili Düzenle</button>
      </div>
    </div>
  </div>
</div>

<p><b class="fs-3"  style="margin-left: 30px;">PETLERİM</b> <button type="button" class="btn btn-outline-success" style="margin-left: 10px;">Pet Ekle</button></p>

<div class="row row-cols-1 row-cols-md-3 g-2">
  <div class="col">
    <div class="card h-100">
      <img src="~/images/sut.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SÜT</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
          <a href="#" class="card-link">Düzenle</a>
          <a href="#" class="card-link" style="color: red;">Sil</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="~/images/max.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MAX</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
         <a href="#" class="card-link">Düzenle</a>
          <a href="#" class="card-link" style="color: red;">Sil</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="~/images/zipir.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ZIPIR</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than</p>
      </div>
      <div class="card-footer">
         <a href="#" class="card-link">Düzenle</a>
          <a href="#" class="card-link" style="color: red;">Sil</a>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>