@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
<img src="~/images/head.png" class="img-fluid" alt="...">

    <h1 style="margin-top: 30px">
    <span style="color: red;">H</span>
    <span style="color: orange;">O</span>
    <span style="color: indigo;">Ş</span>
    <span style="color: green;">G</span>
    <span style="color: violet;">E</span>
    <span style="color: blue;">L</span>
    <span style="color: red;">D</span>
    <span style="color: indigo;">İ</span>
    <span style="color: orange;">N</span>
    <span style="color: green;">!</span></h1>
    <h5 style="margin-top: 30px">Evcil hayvanının bakımı için ihtiyaç duyduğun tüm bilgilere kolayca ulaşabilmen için buradayız! Burada diğer kullanıcıların tecrübelerine ortak olabilir ve kendi deneyimlerini paylaşabilirsin. Sitemize kayıt olduğunda evcil hayvanlarını profiline ekleyerek daha özelleştirilmiş bir deneyim yaşayabilirsin. Herhangi bir sorun olduğunda lütfen bize ulaşmaktan çekinme.</h5>
    <p style="margin-top: 35px">Giriş Yapmak ya da Kayıt Oluşturmak İçin <button type="button" class="btn btn-success">TIKLA</button></p>
    
<img src="~/images/paws.webp" style="margin-top: 30px" width="120" height="120" class="img-fluid" alt="...">
</div>
