@{
    ViewData["Title"] = "Register Page";
}


<div class="container-fluid">
    <div class="row">
      <!-- Sol taraf: Resim -->
      <div class="col-md-5" style="margin-top:150px">
        <img src="~/images/hhh.jpg" alt="Resim" width="100%" height="100%" class="img-fluid ">
      </div>
      <!-- Sağ taraf: Form -->
      <div class="col-md-6 align-items-center justify-content-center"  >
              <img src="~/images/eee.jpg" alt="Resim" class="img-fluid" style="margin-left:40px">

          <h3 class="text-center" style="margin-top:40px; margin-left:55px;">KAYIT</h3>
         <div class="row g-1" style="margin-left: 70px; margin-top: 20px;">
  <div class="col-md-6">
    <div class="form-floating" >
      <input type="email" class="form-control" id="floatingInputGrid" placeholder="" value="">
      <label for="floatingInputGrid">Adınız</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInputGrid" placeholder="" value="">
      <label for="floatingInputGrid">Soyadınız</label>
    </div>
  </div>
         </div>
           <div class="form-floating mb-3" style="margin-left: 70px; margin-top: 15px;">
            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <label for="emailInput">Email adresiniz</label>
          </div>
          <div class="form-floating mb-3" style="margin-left: 70px">
            <input type="password" class="form-control" id="passwordInput" placeholder="Şifreniz">
            <label for="passwordInput">Şifreniz</label>
          </div>
          <div class="col-sm text-center" style="margin-top: 30px; margin-left:55px;">
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
          </div>
            <p style="margin-left:70px; margin-top: 30px;">Zaten bir hesabınız varsa <a href="~/Kullanici/Index">Giriş Yap</a></p>
        </div> 
      </div>
    </div>
  </div>
</div>